.background {
    background-color: antiquewhite;
}

.board {
    display: grid;
    grid-gap: 6px;
    width: 70vh;
    height: 70vh;
    margin-left: auto;
    margin-right: auto;
}

.population-square {
    border: 2px solid black;
    height: 100%;
    width: 100%;
}

.population-square[data-current-population="R"] {
    background-color: red;
}

.population-square[data-current-population="G"] {
    background-color: green;
}

.population-square[data-current-population="B"] {
    background-color: blue;
}